<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gespro.followMe" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Follow Me</name>
    <description>
        Aplicacion para seguimiento de patrones
    </description>
    <author email="gespro@mep.go.cr" href="http://mep.go.cr">
        Gestion y produccion de Recursos MEP
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference value="landscape" name="orientation"/>
    <preference name="fullscreen" value="false" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-exitapp2" source="npm" spec="~1.0.4" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <!-- <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" /> -->
    <!-- <plugin name="cordova-plugin-vibration"/> -->
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <!-- <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" /> -->
    <!-- <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" /> -->
    <platform name="android">
      <icon src="img/ico.png"/>

    </platform>
    <feature name="Vibration">
    <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
  </widget>
